extends layout

block content
  h1.p-3.text-wrap.text-break=title
  .container-fluid
  if !portfolioItems
    h2.p-5.text-danger.text-center.text-wrap.text-break Woops, I seem to have failed to get my portfolio items.
  else
    each item in portfolioItems
      .card-custom.mx-auto.m-4
        a(href=item.link target="_blank")
          .row.align-items-center
            .col-12.col-lg-3
              img.img-fluid.mx-auto.d-block(src=item.image)
            .col-12.col-lg-9.p-4
              h5.title.text-wrap.text-break=item.title
              p.body2.lh-base.text-wrap.text-break=item.description
              p.body2.text-muted.text-end.text-wrap.text-break= item.from + ' - ' + item.to
      
     
 
            